<div class="flex-row space-bet">
  <p>Mangas !!</p>
  <a class="padd" (click)="addManga()"> <button class="edit"> + </button></a>
</div>

<div class="flex-row">
  <div *ngFor="let manga of mangas">
    <div class="card flex-row mr" appBorderCard="grey" (click)="goToManga(manga)">
      <img src="../assets/images/avatar.webp" alt="une affiche" class="vignette">
      <div class="content">
        <strong>{{ manga.name }}</strong>
        <p>{{ manga.description }}</p>
      </div>
    </div>
  </div>
</div>
