<!-- helpeur d'angular routerLink = linkTo -->
<a routerLink="/index" routerLinkActive="active"> &lt; </a>
<div *ngIf="film" class="show-card">

  <h3  class="title">{{ film.name }}</h3>

  <div class="flex-row space-a">
    <img src="../assets/images/deadpool.jpg" alt="une affiche" class="poster content"/>

    <div class="flex-colum space-bet">
      <div  class="flex-colum">
        <div class="bor-bot-syn first-mag">
          <strong> synopsie </strong>
          <p > {{ film.description }}</p>
        </div>
        <strong class="bor-bot marg"> {{ film.price }} €</strong>
        <em class="bor-bot marg"> {{ film.artiste }}</em>
        <i class="bor-bot marg"> {{ film.location }}</i>
      </div>

      <a  (click)="editFilm(film)" class="self-end"><button class="edit">edit</button></a>
      <a  (click)="deleteFilm(film)" class="self-end"><button class="edit">delete</button></a>
    </div>

  </div>

</div>
