<div class="flex-row space-bet">
<p>ceci est la section film</p>
<a  (click)="addFilm()"> <button class="edit">+ </button></a>
</div>
<div *ngIf="films" class="flex-row">
  <div *ngFor="let film of films">
    <!-- action click j'envoi sur la page du film (j'injecte donc mon objet a ma méthod) -->
    <div class="card flex-row mr" (click)="goToFilm(film)" appBorderCard="grey">
      <img src="../assets/images/deadpool.jpg" alt="une affiche" class="vignette"/>
      <div class="content">
        <strong>{{ film.name }}</strong>
        <p> {{ film.description }}</p>
      </div>
    </div>
  </div>
</div>
