<div class="flex-row space-bet">
  <p>series !!</p>
  <a class="padd" (click)="addSerie()"> <button class="edit"> + </button></a>
</div>

<div class="flex-row">
  <div *ngFor="let serie of series">
    <div class="card flex-row mr" appBorderCard="grey" (click)="goToShowSerie(serie)">
      <img src="../assets/images/witcher.jpg" alt="une affiche" class="vignette">
      <div class="content">
        <strong>{{ serie.name }}</strong>
        <p> {{ serie.description }}</p>
      </div>
    </div>
  </div>
</div>
